<html>
	<head>
		<title>Login Page</title>
	</head>
	<body>
	<form method="post">
	<label>Username:
		<input type="text" name="username" value="{{username}}"/>
	</label>
	<label>Password:
		<input type="password" name="password" value=""/>
	</label>
	<div style="color: red">{{error_login}}</div>
	<input type="submit"/>
	
	</form>	
	</body>
</html>