<!DOCTYPE html>
<html>
 <head>
  <title>/ascii/</title>
  <style type="text/css">
  .error {color: red;}
  </style>
  
  <body>
   <h1>/ascii/</h1>
   
   <form method="post">
    <label>
	 <div>title</div>
	 <input type="text" name="title" value="{{title}}"/>
	</label>
	
	<label>
	 <div>art</div>
	 <textarea name="art">{{art}}</textarea>
	</label>
	
	<div class="error">{{error}}</div>
	<input type="submit"/>
	
   </form>
  </body>
 </html>