<!DOCTYPE html>

<html>
	<head>
		<title>Top 10 articles</title> 
		
		<style type="text/css">
			.article + .article {
	  	margin-top: 20px;
	  }
	  
	  .article-title {
	  	font-weight: bold;
	  	font-size: 20px;
	  }
	  
	  .article-body {
	  	margin: 0;
	  	font-size: 17px;
	  }
		</style>
		
	</head>
	<body>
		
		<h1>Just another blog</h1>
		
		{% for article in articles %}
    <div class="article">
	 <div class="article-title">{{article.subject}}</div>
	 <pre class="article-body">{{article.content}}</pre>
	</div>
   {% endfor %}
	</body>
	
	
</html>