<!DOCTYPE html>

<html>
	<head>
		<title>Create a new post</title>
		<style type="text/css">
			label {
				font-size: 20px;
				font-weight: bold;
			}
			textarea {
				width: 400px;
				height: 200px;
				font-size: 17px;
				font-family: monospace;
			}
		</style>
	</head>
	<body>
		<h2>new post</h2>
		<form method="post">
			<label>
				<div>
					subject
				</div>
				<input type="text" name="subject" value="{{subject}}"/>
			</label>
			<label>
				<div>
					blog
				</div> 				
			<textarea name="content">
				{{content}}
			</textarea> </label>
			<input type="submit" />
			<div class="error">{{error}}</div>
		</form>
	</body>
</html>