<!DOCTYPE html>

<html>
	<head>
		<title>Permalink</title>
	</head>
	<body>
		<div class="article">
			<div class="article-title">{{article.subject}}</div>
			<div class="article-body">{{article.content}}</div>
		</div>
	</body>
	
</html>